@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Caladea&family=Corinthia&family=Crimson+Text&family=Dancing+Script&family=Pinyon+Script&family=Sacramento&display=swap');
*{
    padding: 0;
    margin: 0;
    /* font-family: "Poppins", sans-serif; */
    /* overflow-x:visible; */
    width: 100%;
}
body{
    overflow-x:hidden;
}



/* START Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .landingpage{
        overflow:hidden;
        background-image: url(mult_image/6.jpg);
        background-size: cover;    
        background-position: center;
        background-attachment: fixed;
        height: 100vh;
    }

    .landingpage-title-h1{
        font-family: corinthia;
        color: #704E4E;
        text-align: center;
        font-size: 60px;
        margin-top: 5vh;
        /* background-color: aqua; */
    }
    .landingpage-title-h1-br{
        display: static;
    }
    .landingpage-dear{
        width: 80%;
        margin: 25vh auto 0 auto;
        /* background-color: #704E4E; */
        font-size: 18px;
        line-height: 1.3;
    }
    .landingpage-dear-a{
        display: flex;
        justify-content: right;
        margin-top: 5vh;
        text-decoration: none;
        color: #000;
    }
    .landingpage-dear-a:hover{
        text-decoration: underline;
    }



    .line-break{
        display: none;
    }

}
/* END Extra small devices (phones, 600px and down) */






/* START Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 825px) {
    /* ------------------------- LANDING-PAGE -------------------------*/
    .landingpage{
        overflow:hidden;
        background-image: url(mult_image/1.jpg);
        background-size: cover;    
        height: 100vh;
    }
    .landingpage-title-h1-br{
        display: none;
    }
    .hidden, .main-gambar{
        opacity: 0;
        transition: all 2.5s;
        /* filter: blur(5px); */
        /* transform: translateX(-50%); */
    }

    .line-break{
        display: none;
    }
    .show {
        opacity: 1;
    }
    /* ------------------------- LP------------------------- */

    .landingpage-title{
        text-align: center;
        /* background-color: aqua; */
        margin-top: 8vh;
        font-size: 40px;
    }
    .landingpage-title-h1{
        font-family: corinthia;
        /* font-weight: 100; */
        color: #704E4E;

    }

    .landingpage-dear{
        display: inline-flex;
        margin: 52vh 0 0 0;
        /* background-color: aqua; */
        width: 100%;
        height: 15vh;
        
    }

    .landingpage-dear p{
        font-size: 20px;
        padding-left: 10%;
        width: 75%;
        /* background-color: bisque; */
    }
    .landingpage-dear a{
        /* text-align:end; */
        width:25%;
        padding-top: 10vh;
        font-size: 20px;
        text-decoration: none;
        color: black;
        /* padding-right: 10%; */
    }
    .landingpage-dear a:hover{
        text-decoration: underline;
    }
    /* .lp-link{
        margin: 50vh 0 0 0;
        background-color: blue;
        width: 50%;
        height: 15vh;
    }
    .lp-link a{
        bottom: 0;
    } */








    /* https://youtu.be/3FjYcMKZ3SU */




    /* ============================================= */
    .main {
        width: 100%;
        margin: 13vh auto;
    }

    .main img{
        width: 85% ;
        display: block;
        margin: 0 auto;
    }
    .main .qs{
        /* background-color: rgb(0, 36, 243); */
        /* overflow-y: hidden; */
        width: 85%;
        height: 60vh;
        position: relative;
        margin: 10vh auto 0 auto;
    }
    .main .qs .l-u,
    .main .qs .l-d,
    .main .qs .r-u,
    .main .qs .r-d {
        position:absolute;
        width: 15%;
    }

    .l-u, .l-d, .r-u, .r-d, .bg1, .line1{
        opacity: 0;
        filter: blur(5px);
        transition: all 2.5s;
    }

    .l-u{
        left: 0;
        top: 0; 
        transform: translate(-50%, -50%);
    }
    .l-d{
        left: 0;
        bottom: 0;
        transform: translate(-50%, 50%);
    }
    .r-u{
        right: 0;
        top: 0;
        transform: translate(50%, -50%);
    }
    .r-d{
        right: 0;
        bottom: 0;
        transform: translate(50%, 50%);
    }
    .show {
        filter: blur(0);
        opacity: 1;
        transform: translateX(0);
    }
    .main .qs .qs2{
        /* background-color: rgb(226, 26, 26); */
        height: 60vh;
        line-height: 2;
        width: 80%;
        margin: 0 auto;
        display: table;
        position: relative;
    }
    .main .qs .qs2 p{
        font-size: 25px;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }




    .image{
        width: 50% ;
        height: 40.5vmax;
        margin: 13vh auto;
        /* background-color: rgb(20, 20, 20); */
        position: relative;
        /* overflow: ; */

    }
    .image .img3{
        width: 85%;
        position: absolute;
        right: 43px;
        top: 40px;

    }
    .img3{
        filter: blur(3px);
        transform:translateX(50%);
        transition: all 3s;
    }
    .image .bg1{
        position: absolute;
        width: 85%;
        margin:0 auto;
        display: block;
        bottom: 0px;
        left: 0px;
    }
    .bg1{
        filter: blur(5px);
        transform: translateX(-50%);
    }
    .image .line1{
        position: absolute;
        width: 20%;
        right: 0;
    }
    .line1{
        filter: blur(5px);
        transform: translate(50%, -50%);
    }
    .show{
        opacity: 1;
        filter: blur(0px);
        transform: translate(0);
    }



    .introduce{
        font-size: 25px;
        text-align: center;
        transform:translateY(50%);
        transition: all 2s;
        opacity: 0;
    }




    .profile{
        /* background-color: aquamarine; */
        width: 85%;
        display: flex;
        justify-content: space-around;
        text-align: center;
        /* margin-top: 5vh; */
        margin: 5vh auto 0 auto;
    }
    .profile h1{
        font-size: 50px;
    }
    .intro{
        transform:translateY(50%);
        transition: all 2s;
        opacity: 0;
    }
    .profile h3{
        margin-top:3vh ;
        font-size: 25px;
    }
    .profile h5{
        margin: 2vh 0 5vh 0;
        font-size: 20px;
    }
    .profile img{
        width: 80%;
        height: 35vmax;
        border-radius: 230px;
    }
    .pro-female{
        width: 40%;
        border-radius: 30px;
        background-color: #704E4E;
        color: rgb(231, 231, 231);
        padding-top: 1vmax;

        transform:translateX(-50%);
        transition: all 1s;
        opacity: 0;
    }
    .pro-male{
        padding-top: 1vmax;
        width: 40%;
        border-radius: 30px;
        background-color: rgba(255, 255, 255, 0.5);
        color: #704E4E;

        transform:translateX(50%);
        transition: all 1s;
        opacity: 0;
    }


    .prof {
        transform:translateX(-50%);
        transition: all 1.5s;
        opacity: 0;
    }
    .prom {
        transform:translateX(50%);
        transition: all 1.5s;
        opacity: 0;
    }

    .namef, .namem{
        transition: all 3s;
        opacity: 0;
    }
    .namef {
        transform: translateX(-50%);
    }
    .namem {
        transform: translateX(50%);
    }
    .show{
        opacity: 1;
        filter: blur(0px);
        transform: translate(0);
    }



    /* ===============  START HOME.HTML / DIV.invitation ===============  */

    .invitation{
        background-color: #9B9B9B;
        width: 100%;
        max-height:max-content;
        border-radius: 30px;
        margin: 15vh auto 0 auto;
        /* position: absolute; */
    }
    .invitation-salam{
        color: #fff;  
        text-align: center;
        font-family: dancing script;
        padding-top: 8vh;
        padding-bottom: 5vh;
        font-size: 40px;

        transition: all 2.5s;
        transform: translateY(30%);
        opacity: 0;
        filter: blur(3px);
    }
    .invitation-section{
        position: relative;
        /* background-color: aqua; */
        margin: 0 auto;
        width: 90%;
    }
    .invitation-section-main-bg{
        transform: translate(50%);
        transition: all 2.5s;
        filter: blur(3px);
    }
    .invitation-section-main{
        font-size: 25px;
        padding-top: 10vh;
        position: absolute;
        text-align: center;
        font-family: cabin;
        width: 50%;
        height: 105vh;
        line-height: 37px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        /* background-color: bisque; */
    }
    .invitation-section-main-p{
        margin-bottom: 7vh;
        transform: translateX(50%);
        transition: all 2.5s;
        filter: blur(3px);
    }
    .invitation-section-main-h3{
        transform: translateX(-50%);
        transition: all 2.5s;
        filter: blur(3px);
    }
    .invitation section {
        padding-bottom: 2%;
    }
    .invitation section a{
        text-decoration: none;
        /* background-color: aqua; */
        border: 2px solid #fff;
        border-radius: 20px;
        text-align: center;
        padding: 10px;
        width: 8%;
        display: block;
        margin: 2% auto;
        color:#fff;
    }
    .invitation section a:hover{
        background-color: #fff;
        color: #9B9B9B;
        transition: all 0.3s;
        text-decoration: underline;
    }
    .show{
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0px);
    }
    /* ===============  END HOME.HTML / DIV.invitation ===============  */

    /* ===============  START HOME.HTML / DIV.countdown ===============  */
    .countdown{
        background-color: #7A6060 ;
        width: 55%;
        height: 35vh;
        margin: 8vh auto 0 auto;
        position: relative;
        border-radius: 25px;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: all 2s;
        transform: translateX(50%);
        opacity: 0;
    }
    .countdown-dot-lu,
    .countdown-dot-ld,
    .countdown-dot-ru,
    .countdown-dot-rd
    {
        width: 23px;
        height: 23px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        /* display: inline-flex; */

        opacity: 0;
        transition: all 0.7s;
        transform: scale(7);
    }
    .countdown-dot-lu{
        left: 13px;
        top: 13px;

        /* opacity: 0; */
        /* transition: all 0.5s;
        transform: scale(7); */
    }
    .countdown-dot-ld{
        left: 13px;
        bottom: 13px;
    }
    .countdown-dot-ru{
        right: 13px;
        top: 13px;
    }
    .countdown-dot-rd{
        right: 13px;
        bottom: 13px;
    }
    .countdown-main{
        /* background-color: rgb(64, 139, 204); */
        color: #fff;
        margin: 0 auto;
        text-align: center;
    }
    .countdown-main .countdown-main-title{
        font-family: pinyon script;
        font-size: 50px;
        margin-bottom: 2vh;
    }

    .countdown-main-settime{
        display: flex;
        /* background-color: aqua; */
        width: 60%;
        margin: 0 auto;
        font-family: caladea;
    }
    .countdown-main-settime p{
        font-size: 35px;
    }
    .countdown-main-settime span{
        color: #ABABAB;
    }
    .show{
        opacity: 1;
        filter: blur(0px);
        transform: scale(1);
    }
    /* ===============  END HOME.HTML / DIV.countdown ===============  */

    /* ===============  START HOME.HTML / DIV.quotes ===============  */
    .quotes{
        background-color: #D9D9D9;
        width: 40%;
        margin: 10vh auto;
        text-align: center;
        font-size: 25px;
        line-height: 4.5vh;
        padding: 4vh;
        border-radius: 20px;
        font-family: crimson text;
    }
    /* ===============  END HOME.HTML / DIV.quotes ===============  */

}


/* END Extra large devices (large laptops and desktops, 1200px and up) */




/* ------ START RESPONSIVE WEBSITE LIBRARY ------ */

/* START Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {} */
/* END Extra small devices (phones, 600px and down) */

/* START Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {} */
/* END Small devices (portrait tablets and large phones, 600px and up) */

/* START Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {}  */
/* END Medium devices (landscape tablets, 768px and up) */

/* START Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {} */
/* END Large devices (laptops/desktops, 992px and up) */

/* START Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {} */
/* END Extra large devices (large laptops and desktops, 1200px and up) */

/* ------ END RESPONSIVE WEBSITE LIBRARY ------ */
